@model Online_Pizza_Ordering_System.Models.Pizzas

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>@Model.Name</h4>
    <hr />
    <div class="img-thumbnail">
        <img src="/Uploads/@Model.PizzaUrl" alt="Picture of @Model.Name width="400px" height="400px">
    </div>
    <hr />
    <dl class="dl-horizontal">
        <input type="hidden" asp-for="Id" />
       @* <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>*@
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
  @*      <dt>
            @Html.DisplayNameFor(model => model.PizzaUrl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PizzaUrl)*@
      @*  </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsPizzaOfTheWeek)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsPizzaOfTheWeek)
        </dd>*@
        <dt>
            @Html.DisplayNameFor(model => model.store.StoreName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.store.StoreName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a asp-action="ListStores" asp-route-storename="@Model.store.StoreName">Back to Store</a>
        </div>
    </form>
</div>
